 <!-- top section -->


    <section class="topbar py-2">
      <h4 class="brand-logo">Hotel</h4>
      <div class="part2">
        <i class="fas fa-user userIcon"></i>
        <a href="#" class="login"><h5>Login/SignUp</h5></a>
      </div>
    </section>

    <!-- tabs Section -->

    <section class="tabs ">
      <ul class="list">
        <li class="listitem">
          <a href="#" class="home">Home</a>
          <div class="itemContainer">
            <ul class="tabValue">
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
          </div>
        </li>

        <li class="listitem">
          <a href="#" class="Services">Services</a>
          <div class="itemContainer">
            <ul class="tabValue">
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
          </div>
        </li>
        <li class="listitem">
          <a href="#" class="About">About</a>
          <div class="itemContainer">
            <ul class="tabValue">
              <li>About ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
          </div>
        </li>
        <li class="listitem">
          <a href="#" class="Contact">Contact</a>
          <div class="itemContainer">
            <ul class="tabValue">
              <li>Contact ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
          </div>
        </li>
        <li class="listitem">
          <a href="#" class="Query">Query</a>
          <div class="itemContainer">
            <ul class="tabValue">
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
            </ul>
          </div>
        </li>
      </ul>
    </section>