body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  margin: 5px 0;
}

.logo {
  margin-bottom: 0;
  color: black;
}

h5 {
  margin-bottom: 0;
}
.login {
  text-decoration: none;
  color: black;
  border-left: black;
  border-left: 1px solid black;
}

.login h5 {
  display: inline;
  margin-left: 10px;
}

.userIcon {
  color: black;
  margin-right: 10px;
}

/* tabs section */

.tabs {
  background-color: #f3f5f7;
}

.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 0;
}

.listitem a {
  text-decoration: none;
  margin: 0 5px;
  color: black;
}

.home {
  position: relative;
}

.tabValue {
  position: absolute;
  background-color: white;
  color: #de273e;
  z-index: 1;
  list-style: none;
  padding-left: 15px;
  padding-right: 10px;
  border: 1px;
  border-color: black;
}

.itemContainer {
  opacity: 0;
}

/* search section */

.center {
  text-align: center;
}

.searchSection {
  background-color: #de273e;
  padding: 10px 0;
}

.title {
  margin: 0;
  color: white;
}

.searchBtn {
  background-color: #1ab64f;
  color: white;
  border: 0;
}

.searchBox {
  margin-top: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}


/* footer */

.footer{
  background-color: #6d787d;
  height: 20vh;
  
}
